{% load static %}
<script src='{% static "create_user.js" %}'></script>
<script src='{% static "ajax.js" %}'></script>
<link rel="stylesheet" type="text/css" href='{% static "styles.css" %}'>

<form>
 	<div class = "container">
 		{% csrf_token %}
		<div class = "input_field">
			<span class = "input_header">Email:</span>
			<label><input type="email" name="email" maxlength="254" required/></label>
	 	</div>

	 	<div class = "input_field">
		 	<span class = "input_header">Имя:</span>
		 	<label><input type="text" name="first_name" maxlength="120" required/></label> 
	 	</div>

	 	<div class = "input_field">
		 	<span class = "input_header">Фамилия:</span>
		 	<label><input type="text" name="last_name" maxlength="120" required/></label> 
	 	</div>

	 	<div class = "input_field">
	 		<span class = "input_header">Пароль:</span>
		 	<label><input type="text" name="password" maxlength="128" required /></label> 
	 	</div>

	 	<div class = "confirm_button" align="center">
	    	<input TYPE="button" Value="Добавить пользователя" onClick="request(
	 		'POST', 
	 		'http://localhost:8000/user/new/', 
	 		{
	 			'Content-type': 'application/x-www-form-urlencoded', 
	 			'X-CSRFToken': this.form[0].value
	 		}, 
	 		succsess, 
	 		error, 
	 		`email=${form[1].value}&first_name=${form[2].value}&last_name=${form[3].value}&password=${form[4].value}`
	 		)">
	    </div>

	    <div class = "msg" align="center">
	    	<span class="msgText"></span>
	    </div>
    </div>
</form> 

