{% load static %}
<script src='{% static "eth_settings.js" %}'></script>
<script src='{% static "ajax.js" %}'></script>
<link rel="stylesheet" type="text/css" href='{% static "styles.css" %}'>

<form class="account-form">
	<div  class = "container">
		{% csrf_token %}
		<div  class = "input_field">
			<span class = "input_header">Etherscan адрес:</span>
			<label><input type="text" name="eth_adress" maxlength="128" /></label> 
		</div>

		<div  class = "input_field">
			<span class = "input_header">Etherscan-api токен:</span>
			<label><input type="text" name="eth_token" maxlength="128" /></label> 
		</div>

		<div align="center" class = "confirm_button">
		    <input TYPE="button" Value="ОК" onClick="request(
	 		'POST', 
	 		'http://localhost:8000/user/eth_settings/', 
	 		{
	 			'Content-type': 'application/x-www-form-urlencoded', 
	 			'X-CSRFToken': this.form[0].value,
	 			'Authorization': `JWT ${localStorage.getItem('token')}`
	 		}, 
	 		succsess, 
	 		error, 
	 		`ether_token=${form[2].value}&ether_adress=${form[1].value}`
	 		)">
		</div>
		<div class = "msg" align="center">
	   		<span class="msgText"></span>
		</div>
	</div>
	
</form>

