
<h1 align="center" style="margin-top: 50px;">Django App<h1>
<div align="center" style="padding: 50px;">	
	<form action="user/new">
    	<input type="submit" value="Create new User!"/>
	</form>
	<form action="user/login">
    	<input type="submit" value="Login!" />
	</form>
	<form action="user/eth_settings">
    	<input type="submit" value="Etherscan settings!" />
	</form>

	<form>
		{% csrf_token %}
    	<div align="center">
	    	<input TYPE="button" Value="Ether" onClick="eth(this.form)">
	    </div>
	</form>
</div>
<div id="target"></div>

<script type="text/javascript">
	function eth(form){
		let xhr = new XMLHttpRequest();
	 	xhr.open("POST", 'http://localhost:8000/eth/');
		xhr.setRequestHeader("Content-type", 'application/x-www-form-urlencoded');
		xhr.setRequestHeader("Authorization", `JWT ${localStorage.getItem('token')}`);
		xhr.setRequestHeader("X-CSRFToken", form[0].value);
		xhr.onreadystatechange = function() {
		    if(xhr.readyState == 4 & xhr.status === 200) {
		    	var newdiv = document.createElement('div');
		    	newdiv.innerHTML = xhr.response
		    	document.getElementById('target').appendChild(newdiv); 
		    	console.log(xhr.response)
		    }
		    else if (xhr.readyState == 4){
		
		    }
		}
		xhr.send();
}
</script>
