{% load static %}
<script src='{% static "login.js" %}'></script>
<script src='{% static "ajax.js" %}'></script>

<form class="account-form">
 	<div style="background-color: #90EE90;  width: 50%; padding-top: 15px; margin: 100px auto 0px auto; border: 10px double #3CB371">
 		{% csrf_token %}
		<div style="display: flex; justify-content: center; padding: 10px; margin: auto;">
			<span style="width: 20%;">Email:</span>
			<label><input type="email" name="email" maxlength="254" required/></label>
	 	</div>
	 	<div style="display: flex; justify-content: center; padding: 10px; margin: auto;">
	 		<span style="width: 20%;">Пароль:</span>
		 	<label><input type="text" name="password" maxlength="128" required /></label> 
	 	</div>
	 	<div align="center" style="padding: 20px;">
	 		<input TYPE="button" Value="Click" onClick="request(
	 		'POST', 
	 		'http://localhost:8000/user/auth/', 
	 		{
	 			'Content-type': 'application/x-www-form-urlencoded', 
	 			'X-CSRFToken': this.form[0].value
	 		}, 
	 		succsess, 
	 		error, 
	 		`email=${this.form[1].value}&password=${this.form[2].value}`
	 		)">
	    </div>
	    <div align="center" style="margin-bottom: 20px; color: red;">
	    	<span class="msgText"></span>
	    </div>
    </div>
</form> 
