{% load static %}
<script src='{% static "login.js" %}'></script>
<script src='{% static "ajax.js" %}'></script>
<link rel="stylesheet" type="text/css" href='{% static "styles.css" %}'>

<form class="account-form">
 	<div class = "container">
 		{% csrf_token %}
		<div class = "input_field">
			<span class = "input_header">Email:</span>
			<label><input type="email" name="email" maxlength="254" required/></label>
	 	</div>
	 	<div class = "input_field">
	 		<span class = "input_header">Пароль:</span>
		 	<label><input type="text" name="password" maxlength="128" required /></label> 
	 	</div>
	 	<div align="center"  class = "confirm_button">
	 		<input TYPE="button" Value="Click" onClick="request(
	 		'POST', 
	 		'http://localhost:8000/user/auth/', 
	 		{
	 			'Content-type': 'application/x-www-form-urlencoded', 
	 			'X-CSRFToken': this.form[0].value
	 		}, 
	 		succsess, 
	 		error, 
	 		`email=${this.form[1].value}&password=${this.form[2].value}`
	 		)">
	    </div>
	    <div class = "msg" align="center">
	    	<span class="msgText"></span>
	    </div>
    </div>
</form> 
